html {
    font-size: 1em;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article,
section,
header,
main,
footer {
    display: block;
}
img,
svg {
    vertical-align: middle;
}
img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    border-style: none;
}
body {
    margin: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

::selection {
    background-color: transparent;
    color: inherit;
}

@font-face {
    font-family: CSTMX-3-VF;
    src: url(/fonts/CSTMXprmntl03-VF.woff2) format("woff2-variations");
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    font-display: fallback;
}

:root {
    font-size: 16px;
}

body {
    --color-bg: hsl(0, 0%, 100%);
    --color-fg: hsl(0, 0%, 98.4%);
    --color-bd: hsl(0, 0%, 1.2%);
    min-height: 100vh;
    background: var(--color-bg);
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: var(--color-bd);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.grid {
    position: static;
    display: grid;
    grid:
        "hd" minmax(100vh, 1fr)
        "bd" auto
        "img"
        / 1fr;
    grid-gap: calc(1rem + 1.6%);
}
