html {
    font-size: 1em;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article,
section,
header,
main,
footer {
    display: block;
}
img,
svg {
    vertical-align: middle;
}
img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    border-style: none;
}
body {
    margin: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

::selection {
    background-color:;
    color: white;
}

@font-face {
    font-family: CSTMX-3-VF;
    src: url(/fonts/CSTMXprmntl03-VF.woff2) format("woff2-variations");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    display: Fallback;
}